body {
  background-color: hsl(212, 45%, 89%);
  position: relative;
}
.card {
  background-color: white;
  width: 300px;
  height: 460px;
  text-align: center;
  margin: 50px auto 50px auto;
  border-radius: 15px;
}

.qr-code {
  width: 40%;
  height: 270px;
  width: 270px;
  margin: 20px auto 15px auto;
  border-radius: 10px;
}

.title {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 20px;
  width: 80%;
  margin: 0px auto 10px auto;
  padding: 0px 10px;
}

.paragraph {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  width: 85%;
  margin: 10px auto 10px auto;
}
